<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<!-- http://msdn.microsoft.com/en-us/library/ms228993(v=vs.110).aspx 
	http://stackoverflow.com/a/7016488 -->
	<system.diagnostics>
		<sources>
			<source name="AttachmentMailer"
				switchName="sourceSwitch"
				switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="console" />
					<add name="logger"/>
					<remove name="Default"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="sourceSwitch" value="Information"/> <!-- Verbose, Information normally -->
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="logger" />
			</listeners>
		</trace>
		<sharedListeners>
			<add name="logger"
				type="System.Diagnostics.TextWriterTraceListener"
				initializeData="AttachmentMailer.log">
			</add>
			<add name="console"
				type="System.Diagnostics.ConsoleTraceListener">
			</add>
		</sharedListeners>
	</system.diagnostics>
</configuration>